* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
}

body {
  background: #1e1e1e;
  color: white;
}

header {
  background: #2c2c2c;
  padding: 10px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  background: #19d900;
  transition: 0.3s ease-in-out;
}

nav button:hover {
  filter: brightness(0.9);
}

nav button:active {
  transform: scale(0.97);
}

main {
  display: flex;
  height: calc(100vh - 120px);
}

#list {
  width: 30%;
  background: #292929;
  overflow-y: auto;
  padding: 10px;
}

.item {
  padding: 8px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.item:hover {
  background: #3a3a3a;
}

#details {
  width: 70%;
  padding: 20px;
}

.crafting-grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 5px;
  margin-top: 10px;
}

.slot {
  width: 60px;
  height: 60px;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-align: center;
}

.slot img {
  width: 48px;
  height: 48px;
}

.brewing {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 5px;
  margin-top: 10px;
}
